The project is a web app that allows you to create UI for Phaser 3 games.

Visually and logically the project is divided into 4 main parts:

-   Assets Panel
-   Canvas
-   Hierarchy Panel
-   Inspector Panel

Assets Panel is a panel where you can manage all the assets that are available in the project. You can drag any asset from the Assets panel to the canvas and drop it to create a new game object.

Canvas is the main part of the project. It contains all the Phaser game objects and visually represents the currently edited UI.

Hierarchy Panel is a tree view of all the game objects in the currently edited UI. All the changes in the hierarchy of the game objects from the Canvas are reflected in the Hierarchy panel. And vice versa, it is two-way binding between the Canvas and the Hierarchy panel.

Inspector Panel is a panel where you can inspect and edit the currently selected game object from the canvas or the selected asset from the Assets panel. All the changes in the inspector are reflected in the currently selected game object or asset. And vice versa, it is two-way binding between the Canvas and the Inspector panel.

## Technical Architecture

The project is built with Vite, React, TypeScript, Mantine UI, and latest Phaser 3.87.

The project uses the following libraries:

-   es-toolkit for general utilities
-   @open-draft/until to gracefully handle promises
-   tslog for logging
-   valtio for state management
-   zod for data validation
-   ts-pattern for pattern matching

### Development Guidelines

-   Use @mantine/hooks for React hooks
-   Follow the Mantine UI component library's design system and patterns
-   Utilize TypeScript for type safety and code completion
-   Use ts-pattern instead of switch statements for pattern matching, use `match().exhaustive()` whenever possible
-   Always use icons from `lucide-react` instead of `@tabler/icons-react`
