.titleButton {
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	color: inherit;
	font: inherit;
	text-align: left;
	display: flex;
	align-items: center;
	cursor: pointer;
	border-radius: 4px;
	width: auto;
}

.titleButton:hover {
	text-decoration: underline;
}
