.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding: 0 10px 0 10px;
    border-radius: 4px;
    border: 1px solid var(--mantine-color-dark-4);
    background-color: var(--mantine-color-dark-6);
    cursor: pointer;
}

.container:hover {
    border-color: var(--mantine-color-blue-9);
}

.error {
    border-color: var(--mantine-color-error);
}

.button {
    padding: 0 4px;
}

.buttonGroup {
    display: flex;
    gap: 4px;
}