@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Nunito', system-ui, sans-serif;
	}
}

.mantine-contextmenu {
	width: 150px;
}

.mantine-contextmenu-item-button-title + div {
	margin-top: calc(0.025rem * var(--mantine-scale)) !important;
}
